{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="mb-1 text-center">
        <h6>Welcome to the Personal Finance Application.</h6>
        <p>Please enter your log-in credentials below to get started:</p>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
    <br>
    <div class="mb-1 text-center">
        <p>Need to register an account? <a href="/register">Click me</a></p>
    </div>

    
{% endblock %}